<div class="container-fluid">
	<div id="messages">
		<div class="other floating">i feel like modern day "social justice warriors" are just trying as hard as they can to play Offended Olympics (competing to see who is the most offended) this is so bad to the point that they will be offended for other people!! there is so many bad things in this world, and out of all you care that white people exist and that being fat is bad. Any sane person would say that you are born male or female, but not people on tumblr. To them you can be born a PLANT! THIS NEEDS TO STOP!<br>
		EDIT 1: its also unbelievably funny that social justice warriors hate white people, like, isn't raicism what you are trying to fight. i swear to god a straight white male who is below 200 pounds could make a social justice warrior cry on sight. Only thing that will please them is a<br>
		Obese Triple Transgender and double trans-Colored muslim demidisabledplantfurrykin who cut off 2 limbs because thats their gender.<br>
		EDIT 2: shouldn't they just be saying person instead of black person or white person to truly fulfill their goal.</div>
		<div class="local floating">Talk to someone who actually cares about social justice and not just about getting attention on tumblr because these twits give it a bad name</div>
	</div>
	<form class="floating" action="" id="chat">
		<input class="form-control" id="m" autocomplete="off"/>
		<button class="btn">Send</button>
	</form>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
	</script>
</div>