<% include partials/header %>
<body>
<% switch (title) { case 'Home': %>
	<%include partials/home %>
<% break; %>
<%	case 'Chat': %>
	<%include partials/chat %>
<% break; %>
<%	case 'Login': %>
	<%include user/login %>
<% break; %>
<%	case 'Signup': %>
	<%include user/signup %>
<% break; %>
<%	case 'Profile': %>
	<%include user/profile %>
<% break; %>
<%	default: %>
	<h5>:(</h5>
<% break; %>
<% } %>
</body>
<% include partials/footer %>