body
{
	margin: 70px 0 45px 0 !important;
	background-color: rgb(226, 226, 226) !important;
	z-index: -1;
}

.errors
{
	list-style-position: inside;
	list-style-type: none;
	background-color: rgba(255, 50, 50, 0.1);
	border: 2px groove rgba(255, 50, 50, 0.6);
	border-radius: 10px;
}

@media (min-width: 992px) {
	.floating
	{
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		box-shadow: 0px 0px 20px black;
		z-index: 1;
	}
}

@media (max-width: 991px) {
	.floating
	{
		background-color: white;
		padding: 10px;
		border-bottom: 2px groove gray;
		z-index: 1;
	}
	}

.footer
{
	
	background-color: white;
	margin: 0;
	box-shadow: 0px 0px 20px black;
	z-index: 3;
	text-align: center;
	position: fixed;
	width: calc(100%);
	bottom: 0;
}

.active
{
	background-color: crimson !important;
	color: white !important;
}

.nav-link
{
	color: inherit !important;
}

.navtop
{
	
	box-shadow: 0px 0px 20px black;
	z-index: 2;
	position: fixed !important;
	top: 0 !important;
	width: 100%;
}

nav
{
	padding: 0 !important;
	background-color: white !important;
}

.navbar-brand
{
	margin-left: 5px;
}

.nav-item
{
	padding: 5px;
}

.nav-item:hover
{
	background-color: crimson !important;
	color: white !important;
}

.btn
{
	background-color: crimson !important;
	border-color: crimson !important;
}

.btn:focus
{
	outline-color: crimson !important;
}

.row
{
	margin: 5px;
}

p
{
	overflow-wrap: break-word;
}

.profile-pic-container
{
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid black;
}

.profile-pic
{
	display: block;
	max-height: 100px;
	max-width: 100px;
	margin: auto;
}